---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} Safe Corp Jiva
      </p>
      <p>
        Bootstrapped with 
        <a href="https://github.com/markteekman/accessible-astro-starter">
          Accessible Astro Starter
        </a>
      </p>
    </div>
  </section>
</footer>
