---
// @ts-nocheck
import { ViewTransitions } from 'astro:transitions'

const { title, description, author } = Astro.props
---

<!-- general meta -->
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- page title -->
<title>{title}</title>

<ViewTransitions />
