// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(216, 26%, 19%),
    200: hsl(216, 40%, 30%),
    300: hsl(216, 72%, 35%),
    400: hsl(216, 40%, 60%),
    500: hsl(216, 40%, 40%),
  ),
  secondary: (
    100: hsl(36, 100%, 85%),
    200: hsl(36, 100%, 80%),
    300: hsl(36, 100%, 75%),
    400: hsl(36, 100%, 70%),
    500: hsl(36, 100%, 66%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
